
#Données à protéger

#MONGO DB
DB_LINK = 'mongodb+srv://user:password@p6oc.fwz5unu.mongodb.net/?retryWrites=true&w=majority'

#EXPRESS RATE LIMIT
LIM_MINS = 30
LIM_MAX = 50

#SECURITE
HASH_SALT = 10
TOKEN_SIGN_KEY = 'TOKEN_SIGN_KEY'
TOKEN_EXPIRE_IN = '24h'

EMAIL_SALT = "EMAIL_SALT"


#SERVER
SERVER_PORT = '3000'


#Images des sauces
DOWNLOAD_DIRECTORY = './uploads'
DOWNLOAD_DIRECTORY_NAME = 'uploads'

#WINSTON
NODE_ENV = 'dev'